### Laravel ###
/vendor/
/node_modules/
npm-debug.log
yarn-error.log
/public/build/
/public/mix-manifest.json

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

### PhpStorm / IDE ###
.idea/
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.history/
*.vsix

### Misc config and temp files
/config/querydetector.php
/phpunit.xml.bak
/.phpunit.cache/
/.nvmrc
/laradumps.yaml

### Docker
/docker/

### Writerside
/Writerside/
.env.testing
/.output.txt
"laradumps.yaml" 
