includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/nesbot/carbon/extension.neon

parameters:
    level: 6
    paths:
        - app
        - routes
        - database
    scanDirectories:
            - vendor/_laravel_idea
    excludePaths:
            - vendor/*
            - storage/*
            - bootstrap/cache/*
