// For Kalender
.fc-theme-standard td,
.fc-theme-standard th {
    border-color: rgb(55 65 81 / var(--tw-border-opacity)) !important;
}

.fc-scrollgrid {
    border-color: rgb(55 65 81 / var(--tw-border-opacity)) !important;
}

.fc-daygrid-week-number {
    color: #fff !important;
}

.fc .fc-list-sticky .fc-list-day>* {
    background-color: rgb(17, 24, 39) !important;
}

.fc-list-table .fc-list-event:hover td {
    background-color: rgb(17, 24, 39) !important;
}